.sidebar-title {
  display: block;
  background-color: #495057;
  padding: 8px;
  color: white;
  font-size: 1.1rem;
  border-bottom: 5px solid #bd2220;
  font-weight: 600;
  text-shadow: 0px 0px 1px black;
}
.sidebar-title:hover {
  color: white !important;
  text-decoration: underline !important;
}
.no-dots > li {
  line-height: 1;
  font-weight: 500;
}
.link-style:hover {
  text-decoration: underline !important;
  cursor: pointer;
}
.sidebar-content {
  margin-left: 10px;
}
.sidebar-content li div ul {
  margin-top: 8px;
  margin-left: 20px;
  font-size: 14px;
}
.sidebar-content li div ul li {
  margin-bottom: 12px;
  line-height: 1.1;
  margin-right: 11px;
}
@media (min-width: 767px) and (max-width: 992px) {
  .sidebar-title {
    height: 70px;
  }
}