.city-background {
  background: linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),url(../attorney-archive-header.jpg) no-repeat 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  height: 330px;
}
.bg-black {
  background-color: rgba(0,0,0,.5);
  border-radius: 4px;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  overflow: visible;
}
.jumbotron {
  padding-top: 2em !important;
}
.as-input {
  background-color: rgba(0,0,0,0);
  border: 0px;
  border-left: 10px solid red;
  border-bottom: 2px solid white;  
  font-size: 1.5rem;
  color: white;
  width: 100%;
}
.as-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
.as-input:active, .as-input:focus {
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}
.w-60 {
  width: 67%;
}
.mb--4 {
  margin-bottom: -5em;
}
.mb--2 {
  margin-bottom: -2em;
}
.mh-45 {
  min-height: 45px;
}
.cursor-pointer:hover {
  cursor: pointer;
  text-decoration: underline;
}
.bck-red {
  background-color: #bd2220 !important;
}
.css-0 {
  margin-left: 50%;
  margin-right: auto;
  display: block;
  margin-top: 20%;
}
#red-block {
  width: 10px;
  height: 45px;
  background-color: #bd2220;
  margin-right: 15px;
  display:block;
  float:left; 
 }
 #white-border {
  width: 100%;
  height: 1px;
  display: block;
  background-color: white;
  margin-top: -11px;
 }
 h2 {
  font-size: 1.4rem;
  color: white;
  font-style: italic;
 }
.p-25 {
  padding: .7rem!important;
}
.filter input, .filter select {
  background-color: white;
  border-radius: 6px;
}
.card:hover {
  box-shadow: 3px 3px 10px #a9a9a9;
  cursor: pointer;
}
.attorney-card {
  overflow: hidden;
  border: .9px solid #e9e9e9;
  width: 100%;
}
.attorney-card:hover {
  box-shadow: 3px 3px 10px #a9a9a9;
  cursor: pointer;
}
.super-remove {
  display: none !important;
}
.attorney-card > a > img {
  width: 125px;
}
@media (min-width: 768px) {
  .offset-md-3 {
      margin-left: 21%;
  }
}
@media (max-width:992px) {
  .mb--4  {
    margin-bottom: 0;
  }
  .w-60 {
    width: 100% !important;
  }
}

// @media (min-width:0px) {
//   .w-40 {
//     width: 100%;
//   }
// }