#location-sidebar {
  .ml--10 {
    margin-left: -10px;
  }
  .mb--10 {
    margin-bottom: -10px;
  }
  .article-link:hover {
    text-decoration: underline;
  }
  .location-toggle-icon {
    float:right;
    margin-top:5px;
    margin-bottom:2px;
  }

  .no-dots {
    list-style-type: none;
  }
}

#location-body {
  .limit-location-container {
    max-height: 600px;
    overflow: hidden;
    overflow-y: auto;
  }
  .h-300 {
    height: 300px;
  }
}