#archive-practice {
  .practice-menu-box {
    padding: 1em;
    font-size: 1.1rem;
    border: 1px solid #db2220;
  }
  .practice-menu-box a {
   color: #bd2200;
  }
  .practice-menu-box:hover {
    background-color: #db2200;
  }
  .practice-menu-box:hover > a { 
    color: white;
  }
  .practice-link:hover {
   color: white !important;
   text-decoration: underline !important;
  }
  .main-btn {
   font-size: 18px;
   line-height: 26px;
   text-align: center;
   padding:10px;
   border: 1.5px solid #bd2220;
   width: 19em;
   text-transform: uppercase;
   transition:All 1s ease;
   -webkit-transition:All 1s ease;
   -moz-transition:All 1s ease
  }
  .main-btn a {
   transition:All 1s ease;
   -webkit-transition:All 1s ease;
   -moz-transition:All 1s ease
  }
  .main-btn a {
   color: #bd2220;
  }
  .main-btn:hover {
   background-color: #bd2220
  }
  .practices li {
   transition: max-height 1s ease-in;
  }
  .practices li:hover > ul {
   display:inherit;
  }
  .practice-dropdown li {
   transition: all 1s ease;
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   font-size: 1rem;
  }
  .practice-dropdown li:hover  .practice-dropdown-child{
   background-color: #a9a9a9;
   border-bottom: 2px solid #bd2220;
   color: white;  
  }
  
  .dropdown-toggle.practice-menu-box:hover > .practice-dropdown.dropdown-menu {
   display: block;
  
  }
  .column-list {
   -webkit-column-count: 3;
   -moz-column-count: 3;
   column-count: 3;
  }
  .css-0 {
   display:block;
   position:relative;
   margin-left: auto;
   margin-right: auto;
  }
  .ft-12 {
   font-size: 1.2rem;
  }
  
  h2 {
   font-size: 1.4rem;
   color: white;
   font-style: italic;
  }
  .practice-dropdown {
    margin-top: -2px !important;
  }
  .practice-dropdown > li > a {
   color: black !important;
   padding: 11px;
  }
  .practice-dropdown > li > a:hover {
   color: white !important;
  }
  
  @media (min-width: 1200px) {
   .max-width-container {
     max-width: 920px;
   }
  }
  
  @media (min-width: 400px) and (max-width: 769px) {
   .column-list {
     -webkit-column-count: 1;
     -moz-column-count: 1;
     column-count: 1;
   }
   .main-btn {
     width: 100%; 
   }
   .practices {
     display: block !important;
     width: 100% !important;
   }
  }
  
  @media (max-width: 767px) {
   .practice-dropdown {
     background-color: #fcfaff;
   }
   .practice-menu-box:hover > .practice-dropdown.dropdown-menu {
     display:initial;
   }
  }
}