/* Main Stylings
=========================================*/

/** imports **/
@import 'variables';
/** Fonts **/
@font-face{ 
	font-family: 'Proxima Nova Regular';
  src:  url('../fonts/proxima-nova-regular.ttf') format('truetype');
  font-display: block;
}

@font-face{ 
	font-family: 'Proxima Nova Thin';
  src:  url('../fonts/proxima-nova-thin.ttf') format('truetype');
  font-display: block;
}

@font-face{ 
	font-family: 'Proxima Nova SemiBold';
  src:  url('../fonts/proxima-nova-semibold.ttf') format('truetype');
  font-display: block;
}

@font-face{ 
	font-family: 'Proxima Nova Bold';
  src:  url('../fonts/proxima-nova-bold.ttf') format('truetype');
  font-display: block;
}

@font-face{ 
	font-family: 'Proxima Nova Extra Bold';
  src:  url('../fonts/proxima-nova-extrabold.ttf') format('truetype');
  font-display: swap;
}

@font-face{ 
	font-family: 'Proxima Nova Italic';
  src:  url('../fonts/proxima-nova-italic.ttf') format('truetype');
  font-display: swap;
}

/* Universal Styles */
body, html {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Proxima Nova Regular';
  overflow-x: hidden;
}
h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  font-family: 'Proxima Nova SemiBold';
}
.text--dark {
  color: #000000 !important;
}
.row {
  margin-bottom: 2em;
}
.page-item.active {
  .page-link {
    background-color: $light-gray;
    border-color: $dark-gray;
  }
}

.card-title {
 h4, h2 {
  color: $standard-red;
  text-align: left;
  font-weight: bold;
 }
 h4 {
  font-size: 20px !important;
 }
}

.card:hover {
  box-shadow: 3px 3px 10px $medium-gray-2;
  cursor: pointer;
}

.text--sm--center {
  text-align: center;
}
.shadow--rt {
  box-shadow: 2px 3px 5px #e9e9e9;
  border: 1px solid rgba(0,0,0,.125);
}
.d--shadow {
  text-shadow: 2px 3px 2px #000;
  font-family: 'Proxima Nova Bold';
}
.proxima-bold {
  font-family: 'Proxima Nova Bold';
}
.proxima-regular {
  font-family: 'Proxima Nova Regular';
}
.proxima-thin {
  font-family: 'Proxima Nova Thin';
}
.border--h {
  border-bottom: 1px solid $medium-gray;
}
.border--red {
  border-bottom: .5px solid $dark-red;
}
.card-text {
  border-top: 1px solid $medium-gray;
  padding-top: 1em;
}
.card-footer {
  padding: 1rem 1.25rem;
  background-color: #ffffff;
  border-top: none;
}
a {
  font-family: 'Proxima Nova Regular';
  text-decoration: none;
  color: black;
  &:hover {
    color: #000000 !important;
    text-decoration: none !important;
  }  
}

ul {
  list-style: none outside;
  padding-left: 0;
  line-height: 220%;
  list-style-type: disc;
  margin-left: 1.6em;

  .no-dots {
    list-style-type: none !important;
  }

  .navbar-nav li a:hover {
    text-decoration: underline;
    color: #ffffff !important;
    cursor:pointer;
  }

  .social-footer-icons li {
    float: left;
    padding: 1em 2em 1em 0;
  }

  .social-footer-icons li a {
    color: #901918;
  }

  .social-footer-icons li a span {
    display: none;
  }

  .dotted-list li{
    list-style-type: disc;
  }

}

.no-dots-list, .no-dots {
  list-style-type: none !important;
}
.dots {
  list-style-type:  disc !important;
  display: list-item;
}
.screen-reader-text {
  display: none;
}
.search-form label {
  padding-bottom: 1em;
  margin-bottom: 0;
}
.footer--search--bar--inner {
  width: 96%;
  border-radius: 4px;
  background-color: white;
}
input, textarea {
  font-size: 1em;
  color: #444;
  background: #eee;
  background-color: rgb(238, 238, 238);
  border: 1px solid #aaa;
  border-right-color: rgb(170, 170, 170);
  border-bottom-color: rgb(170, 170, 170);
  border-right-color: $medium-gray;
  border-bottom-color: $medium-gray;
  padding: 10px;
}

.bk--dark {
  background: #000;
}
.bk--gray {
  background: $light-gray;
}
.btn-danger, .red--grad {
  font-weight: bold;
  background: linear-gradient(360deg, #901918 60%, #DD2624 100%),
  #333333;
}
.blue-title {
  color: $standard-blue !important;
}
.red-title {
  color: $standard-red !important;
}
.bck-red {
  background-color: $standard-red;
}

.off-white { 
  background-color: $off-white;
}

.small-excerpt {
  font-size: 13px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
}

.smaller-excerpt {
  font-size: 11px; 
}

.min-page-height {
  min-height: 600px;
}
.card-img-overlay {
  padding: 0;
}

.article-card {
  transition: transform .5s;
  &:hover {
    text-decoration: underline !important;
    background-color: $off-white;
    font-weight: bold;
    border: 1px solid $medium-gray;    
  }
}

.h2-italic {
  font-size: 1.4rem;
  color: white;
  font-style: italic;
 }

 .line-header {
  border-bottom: 1px solid #d1d1d1;
  text-align: center;
}
.line-header h3 {
  background: #fff;
  color: #1a1a1a;
  display: inline-block;
  font-size: 18px;
  letter-spacing: .15em;
  line-height: 26px;
  margin-bottom: 0;
  padding: 0 15px;
  position: relative;
  text-transform: uppercase;
  top: 13px;
  font-style: normal;
  font-weight: 400;
}
.line-header {
  .active {
    color: $standard-red;
    text-decoration: underline;
    color: $standard-red;
    text-decoration: underline;
    font-size: 1.2rem;
    text-shadow: 1px 2px 4px $medium-gray;
  }
  h3 {
    &:hover {
      cursor: pointer;
    }
  }
}

.bg-light-gray {
  font-weight: 900;
  background-color: $light-gray;
  padding: 10px;
  //text-shadow: 0 0 0 #000;
  margin-bottom: 30px;
}

.articles-container {
  max-height: 600px;
  overflow: hidden;
  overflow-y: auto;
}
/** Contact Page **/
.disclaimer input{
  width: 15px;
}


/** Standard Sidebar Stylings **/
.sidebar-title {
  display: block;
  background-color: $dark-gray;
  padding: 8px;
  color: white;
  font-size: 1.1rem;
  border-bottom: 5px solid $standard-red;
  font-weight: 600;
  text-shadow: 0px 0px 1px black;

  &:hover {
    color: white !important;
    text-decoration: underline !important;
  }
}

/** Forum Columns **/
.two-column {
  column-count: 2;
  column-gap: 0px;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .text--sm--center {
    text-align: center!important;
  }
}
@media (min-width: 769px) {
  .text--sm--center {
    text-align: left !important;
  }
}

// header offset fix
@media (min-width: 768px) {
  .offset-md-2 {
    margin-left: 20.666667%;
  }
}


/* .display-4 responsive
============================================== */

@media (min-width: 0px) and (max-width: 576px) {
  .display-4 {
    font-size: 1.5rem;
    padding-top: 0 !important;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .display-4 {
    font-size: 1.8rem;
    padding-top: 0 !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .display-4 {
    font-size: 2rem;
    padding-top: 0 !important;
  }
}