$standard-red: #db2220;
$dark-red: #901918;
$standard-blue: #33667d;
$dark-gray: #495057;
$light-gray: #e9e9e9;
$medium-gray: #ddd;
$medium-gray-2: #a9a9a9;
$off-white: #fcfaff;

export {
  $standard-red: $standard-red;
  $dark-gray: $dark-gray;
  $light-gray: $light-gray;
  $medium-gray:$medium-gray;
  $dark-red: $dark-red;
  $standard-blue: $standard-blue;
  $off-white:$off-white;
  $medium-gray-2:$medium-gray-2;
}