.vscode
client/app/node_modules/*
api/app/node_modules/*
feed/app/node_modules/*
forms/app/node_modules/*
sitemaps/app/node_modules/*
admin/.env
admin/wp-app/wp-admin/*
admin/wp-app/wp-includes/*
admin/wp-app/wp-content/plugins/*
admin/wp-app/wp-content/upgrade/*
admin/wp-app/wp-content/uploads/*
admin/wp-app/wp-content/themes/*.php
admin/wp-app/wp-content/*.php
admin/wp-app/wp-content/*.zip
admin/wp-app/.htaccess
admin/wp-app/*.txt
admin/wp-app/*.html
admin/wp-app/*.php
admin/wp-data/*
admin/*.sql
.env