.vscode
client/app/node_modules/*
feed/app/node_modules/*
forms/app/node_modules/*
sitemaps/app/node_modules/*
admin/.env
admin/app/wp-admin/*
admin/app/wp-includes/*
admin/app/wp-content/uploads/*
admin/app/wp-content/upgrade/*
admin/app/wp-content/upgrades/*
admin/app/wp-content/plugins/*
admin/app/wp-content/themes/twentytwenty/*
admin/app/wp-content/themes/tt-sh-law-theme/*
admin/app/wp-content/themes/shlaw-theme--light/js/node_modules/*
admin/app/wp-content/themes/twentytwenty/*
admin/app/.htaccess
admin/app/*.txt
admin/app/*.html
admin/app/*.php
admin/db/*
admin/*.sql
admin-old/*
sitemaps/app/__pycache__/*
sitemaps/app/env/*
sitemaps/app/venv/*
.env
