.vscode

api/app/node_modules/*
client/app/node_modules/*
feed/app/node_modules/*
forms/app/node_modules/*
sitemaps/app/node_modules/*
admin/app/wp-content/*
admin/.env
admin/app/wp-admin/*
admin/app/wp-includes/*
admin/app/.htaccess
admin/app/*.txt
admin/app/*.html
admin/app/*.php
admin/db/*
admin/*.sql
admin-old/*
.env
