.ft-18 {
  font-size: 1.3rem;
}
.ft-13 {
  font-size:1.2rem;
}
.ft-01 {
  font-size:1rem;
}
.small-excerpt {
  font-size: 13px;
  line-height: 1.5;
  margin-top: 0px;
  margin-bottom: 0px;
}
.proxima-bold {
  font-family: 'Proxima Nova Bold';
}
.line-header {
  border-bottom: 1px solid #d1d1d1;
  text-align: center;
}
.line-header h3 {
  background: #fff;
  color: #1a1a1a;
  display: inline-block;
  font-size: 18px;
  letter-spacing: .15em;
  line-height: 26px;
  margin-bottom: 0;
  padding: 0 15px;
  position: relative;
  text-transform: uppercase;
  top: 13px;
  font-style: normal;
  font-weight: 400;
}
.post-scroll:hover {
  cursor: pointer;
}
.post-scroll-left {
  float: left;
  position: relative;
  top: 11rem;
}
.post-scroll-right {
  float: right;
  position: relative;
  bottom: 11rem;
  left: 1.5rem;
}
.mh-75 {
  height: 425px;
  max-width: 100%;
  overflow:hidden;
  overflow-y: auto;
}
#reactHubspotForm0 {
  width: 100%;
}
.hs-form-iframe {
  width: 100% !important;
}
.ml--3px {
  margin-left: -3px;
}
.mb--1 {
  margin-bottom: -1em;
}
.two-column {
  column-count: 2;
  column-gap: 0px;
  margin-left: 10px;
}
.w-15 {
  width: 15%;
}
.css-0 {
  margin-left: 50%;
  margin-right: 50%;
  width: 100%;
  display: block;
}