#location-sidebar {
  .article-link:hover {
    text-decoration: underline;
  }
  .location-toggle-icon {
    float: right;
    margin-top: 5px;
    margin-bottom: 2px;
  }
}

#location-body {
  .limit-location-container {
    max-height: 600px;
    overflow: hidden;
    overflow-y: auto;
  }
}
