.darkGrayBackground {
  background-color: #495057;
}
.lightGrayBackground {
  background-color: #e9e9e9;
}
.filter > button {
  width: 100%;
  text-align: left;
  background-color: #fff;
  color: #000;
  transition: all 200ms linear;
  border: 0px !important;
}

.filter > button::after {
  float: right;
  margin-top: 8px;
  margin-bottom: 8px;
}

.filter > button:active {
  background-color: #fccfff;
  font-weight: bold;
  color: #000;
}
.filter > button:hover {
  background-color: #fff;
  color: #000;
  border: 0px;
  border-bottom: 3px solid #db2220;
}
.practiceTitle {
  font-weight: bold;
  color: #fff;
  background-color: #444;
  text-shadow: 1px 2px 1px #000;
  text-transform: uppercase;
  transition: .3 ease-in;
  word-wrap: break-word;
}

.practiceTitle:hover {
  font-weight: bold;
  color: #fff;
  background-color: #444;
  text-shadow: 1px 2px 1px #000;
  text-transform: uppercase;
  border-bottom: 3px solid #db2220;
}

.practiceTitle > a {
  margin-left: 0;
  margin-right: 0;
  word-wrap: break-word;
}