/** Banner Image **/
.banner {
  background: url(/images/new-dawn-nj-compressor.jpg)
  no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height:40vh;
}

.bannerContainer {
  background-color: rgba(0,0,0,.5);
  box-shadow: 3px 5px 10px #000;
  border: 2px solid #000;
  border-radius: 2px;
  color: #fff;
  padding: 2em;
}

.h2Text {
  margin-bottom: -18px;
}

@media (max-width: 768px) {
  .banner {
    flex-direction: column;
  }
}