.bgBlackBackground {
  border-radius: 4px;
 
  background-color: rgba(0, 0, 0, 0.8);
}

.h2Italic {
  font-style: italic;
  font-size: 1.4rem;
}

.adminBio {
  height: 400px;
}

@media (min-width: 768px) {
  .adminBio {
    height: 325px;
  }
}
