.mt--1 {
  margin-top:-1em;
}
.line-header {
  border-bottom: 1px solid #d1d1d1;
  text-align: center;
}
.line-header .active {
  color: #bd2220;
  text-decoration: underline;
}
.line-header h3 {
  background: #fff;
  color: #1a1a1a;
  display: inline-block;
  font-size: 18px;
  letter-spacing: .15em;
  line-height: 26px;
  margin-bottom: 0;
  padding: 0 15px;
  position: relative;
  text-transform: uppercase;
  top: 13px;
  font-style: normal;
  font-weight: 400;
}
.line-header .active {
  color: #bd2220;
  text-decoration: underline;
}
.line-header h3:hover {
  cursor: pointer;
}
.css-0 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0em;
}
.ft-30 {
  font-size: 30px;
}
.bg-light-gray {
  font-weight: 900;
  background-color: #e9e9e9;
  padding: 10px;
  text-shadow: 0 0 0 #000;
  margin-bottom: 30px;
}
.underline-hover:hover {
  color: white !important;
  text-decoration: underline;
}
.ft-18 {
  font-size: 17px;
}
.white-transparent-border {
  border: 10.5px solid rgba(255, 255, 255, 0.5);
  background-origin: border-box;
}
.chair-link:hover, .mail-link:hover {
  text-decoration:underline !important;
  color: white !important;
}
.position-relative.icon {
  top:-2px;
}
.lh-1 {
  line-height: 1;
}
.off-white {
  background-color: #fcfaff;
}
.article-container { 
  display: block;
  max-height: 600px;
  overflow-y: hidden;
  overflow: auto;
}

.article-container p {
  margin-bottom: 1.125rem;
  font-size: 1.05rem;
  line-height: 1.3;
}
.slick-dots {
  position: initial;
  bottom: 0;
}
.featured-slider-arrow {
  color: black;
  position: absolute;
  top: 30%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  border: none;
}
.featured-slider-arrow:hover {
  cursor: pointer;
}
.featured-slider-arrow.left {
  left: -30px;
}
.featured-slider-arrow.right {
  left: 102%;
  z-index: 4;
}
.attorney-news-slider > .slick-slider > .slick-list {
  height: 217px!important;
}
@media (min-width: 0px) and (max-width: 500px) {
  .city-background {
    height: 800px;
  }
  .bg-black {
    min-height: 550px;
  }
}
@media (min-width: 500px) and (max-width: 769px) {
  .city-background {
    height: 870px;
  }
  .bg-black {
    min-height: 700px;
  }
}
@media (min-width: 1200px) {
  .max-width-container {
    max-width: 920px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .white-transparent-border {
    width: 60%;
    display: block;
    margin-left:auto;
    margin-right:auto;
  }
  .line-header {
    text-align: left;
  }
  .line-header h3 {
    width: 100%;
    display:block;
  }
}
