.results-list {
  column-count: 2;
  column-gap: 30px;
}
.top-article h5 {
  font-size: 1.12rem;
}
.line-header {
  border-bottom: 1px solid #d1d1d1;
  text-align: center;
}
.line-header h3 {
  background: #fff;
  color: #1a1a1a;
  display: inline-block;
  font-size: 18px;
  letter-spacing: .15em;
  line-height: 26px;
  margin-bottom: 0;
  padding: 0 15px;
  position: relative;
  text-transform: uppercase;
  top: 13px;
  font-style: normal;
  font-weight: 400;
}
a h5:hover {
  text-decoration: underline;
}
.quick-news-scroll {
  color: black;
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  border: none;
}
.quick-news-scroll.right {
  left: 100%;
  z-index: 4;
  top: 35%;
}
.quick-news-scroll.left {
  left: -8px;
  z-index: 4;
  top: 37%;
}
.slick-dots {
 bottom: -1px;
}