.tab-pane {
  margin-bottom: 1.125rem;
  font-size: 1.05rem;
  line-height: 1.3;
}

p > a {
  color: #db2220;
}
p:hover > a {
  text-decoration: underline !important;
  cursor: pointer;
  color: #db2220 !important;
}
.article-container {
  max-height: 600px;
  overflow:hidden;
  overflow-y: auto;
}
.mt--1 {
  margin-top:-1em;
}
.line-header {
  border-bottom: 1px solid #d1d1d1;
  text-align: center;
}
.line-header h3 {
  background: #fff;
  color: #1a1a1a;
  display: inline-block;
  font-size: 18px;
  letter-spacing: .15em;
  line-height: 26px;
  margin-bottom: 0;
  padding: 0 15px;
  position: relative;
  text-transform: uppercase;
  top: 13px;
  font-style: normal;
  font-weight: 400;
}
.line-header .active {
  color: #bd2220;
  text-decoration: underline;
}
.line-header h3:hover {
  cursor: pointer;
}
.ft-italic {
  font-style: italic;
}
.ft-11 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.tab-content {
  font-size: 1.125rem;
}
.rp-practice {
  margin-top: -6px;
}
.rp-practice li {
  margin-bottom:-11px;
}
[data-toggle="collapse"] .fas:before {  
  content: "\f067";
}

[aria-expanded="true"] .fas:before {  
  content: "\f068";
}

[data-toggle="collapse"].collapsed .fas:before {
  content: "\f067";
}
.sidebar-content {
  margin-left: 10px;
}
.sidebar-content li  {
  height: 30px; 
}
.sidebar-content li:hover a {
  text-decoration: underline !important;
}
.sidebar-content li div ul {
  margin-top: 8px;
  margin-left: 20px;
  font-size: 14px;
}
.sidebar-content li div ul li {
  margin-bottom: 12px;
  line-height: 1.1;
  margin-right: 11px;
}
.sidebar-title {
  display: block;
  background-color: #495057;
  padding: 8px;
  color: white;
  font-size: 1rem;
  border-bottom: 5px solid #bd2220;
  font-weight: 600;
  text-shadow: 0px 0px 1px black;
}
.sidebar-title:hover {
  color: white !important;
  text-decoration: underline !important;
}
.off-white {
  background-color: #fcfaff;
}
.mb--1 {
  margin-bottom: -1em;
}
.smaller-excerpt {
  font-size: 11px; 
}
.tab-pane ul {
  line-height: 150%;
}
.tab-pane ul li {
  margin-bottom: 1.125rem;
  font-size: 1rem;
  line-height: 1 !important;
}
.attorney-card:hover {
  box-shadow: 3px 3px 10px #a9a9a9;
  cursor: pointer;
  text-decoration:underline;
}
.attorney-card {
  height: 98px;
  overflow: hidden;
  border: .9px solid #e9e9e9;
  float:left;
  width: 100%;
  a {
    img {
      height: 100%;
      float: left;
      margin-right: 10px;
    }
  }
}

.attorney-card-body {
  float: left;
}
.attorney-card-body {
  font-size: 13px;
}
.mt---5 {
  margin-top: -.5em;
}
.mt--15 {
  margin-top: -1.5em;
}
.ft-10 {
  font-size: 8px;
}
.members-container {
  max-height: 400px;
  overflow:hidden;
  overflow-y: auto;
}
.w-45 {
  width: 45% !important;
}
.smaller-excerpt {
  font-size: 11px;
}
.chair-title {
  background-color: #e9e9e9;
  color: black
}
.c-title {
  margin-left: -14px;
  margin-top: 3px;
  margin-bottom: 0px;
}
.bg-light-gray {
  font-weight: 900;
  background-color: #e9e9e9;
  padding: 10px;
  text-shadow: 0 0 0 #000;
  margin-bottom: 30px;
}
.featured-slider-arrow {
  color: black;
  position: absolute;
  top: 30%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  border: none;
}
h2 {
  font-size: 1.4rem;
  color: white;
  font-style: italic;
 }
.featured-slider-arrow:hover {
  cursor: pointer;
}
.featured-slider-arrow.left {
  left: -30px;
}
.featured-slider-arrow.right {
  left: 102%;
  z-index: 4;
}
@media (min-width: 1200px) {
  .max-width-container {
    max-width: 920px;
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .city-background {
    min-height: 700px;
  }
  .w-45 {
    width: 100% !important;
  }
  .attorney-card {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
@media (min-width: 400px) and (max-width: 769px) {
  .city-background {
    min-height: 500px;
  }
  .w-45 {
    width: 100% !important;
  }
  .attorney-card {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .city-background {
    min-height: 400px;
  }
  .w-45 {
    width: 100% !important;
  }  
}