/** Margins **/
.mb--1 {
  margin-bottom: -1em;
}
.mb--2 {
  margin-bottom: -2em;
}
.mb--4 {
  margin-bottom: -5em;
}
.mb--10 {
  margin-bottom: -10px;
}
.mb--7px--lh-22--ft-14px {
  margin-bottom: 7px;
  line-height: 22px;
  font-size: 14px;
}
.mb--3px {
  margin-bottom: -3px;
}
.mt-sm-6 {
  margin-top: 4em;
}
.mt--1 {
  margin-top: -1em;
}
.mt--10 {
  margin-top: -10px;
}
.mt--13 {
  margin-top: -13px;
}
.mt---5 {
  margin-top: -.5em;
}
.mt---6 {
  margin-top: -6px;
}
.mt--15 {
  margin-top: -1.5em;
}
.ml-4em {
  margin-left:4em;
}
.ml-5em {
  margin-left: 5em;
}
.ml--2 {
  margin-left: -2em;
}
.ml-7em {
  margin-left: 7em;
}
.ml--10 {
  margin-left: -10px;
}
.ml--3px {
  margin-left: -3px;
}
.ml-10 {
  margin-left: 10.5em;
}
.ml--10px {
  margin-left: -10px;
}
.ml--21px {
  margin-left: -21px;
}
.ml-10px-mr-10px {
  margin-left:10px;
  margin-right:10px;
}

/** widths */
.w-15 {
  width: 15%;
}
.w-40 {
  width: 40%;
}
.w-45 {
  width: 45% !important;
}
.w-60 {
  width: 67%;
}
.w-85 {
  width: 85% !important;
}
.w-88px {
  width: 88px;
}
.w-90 {
  width: 90% !important;
}
.w-500 {
  width: 500px;
}
.mw-200 {
  min-width: 200px;
}
.mw-400 {
  min-width: 400px;
}
.mw-500 {
  min-width: 500px;
}
.mw-19 {
  max-width: 19%;
}
.mw-447 {
  max-width: 447px;
}
.mw-6 {
  max-width: 6px;
}
.mw-12 {
  max-width: 12px;
}
.mw-18 {
  max-width: 18px;
}
.mw-10 {
  max-width: 10px;
}
.mw-255{
  min-width:255px;
}
.mw-250 {
  min-width: 250px;
}
.maxw-225{
  max-width:225px;
}
.mh-36px {
  max-height: 36px;
}

/* line heights */
.lh-25px {
  line-height: 25px;
}

/* font icon sizes */
.icon-w8px-h20px {
  max-width: 14px;
  height: 14px;
  margin-bottom: 1.9px;
}
.icon-w22px-h22px {
  width: 22px;
  height: 22px;
}
.icon-w20px-h20px {
  width: 20px !important;
  height: 20px;
}
/** target IE10 and above **/
@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
  .mw-19 {
    max-width: 7rem;
  }
}

/** padding **/
.p-25 {
  padding: .7rem!important;
}

/** heights **/
.h-57 {
  height: 57px;
}
.mh-57 {
  min-height: 57px;
}
.h-300 {
  height: 300px;
}
.mh-45 {
  min-height: 45px;
}
.mh-75 {
  height: 425px;
  max-width: 100%;
  overflow:hidden;
  overflow-y: auto;
}
.mh-375 {
  min-height: 375px;
}
.min-page-height {
  min-height: 600px;
}

/** positioning **/
.z-100 {
  position: absolute !important;
}

/** fonts **/
.ft-12 {
  font-size: 1.2rem;
}
.ft-18 {
  font-size: 1.3rem;
}
.ft-13 {
  font-size:1.2rem;
}
.ft-01 {
  font-size:1rem;
}
.ft-11 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.ft-10 {
  font-size: 8px;
}
.ft-17px {
  font-size: 17px;
}
.ft-22 {
  font-size: 17px;
}
.ft-30 {
  font-size: 30px;
}
.ft-14px {
  font-size: 14px;
}
.text--sm--center {
  text-align: center;
}
.proxima-bold {
  font-family: 'Proxima Nova Bold';
  font-weight: bold;
}
.proxima-regular {
  font-family: 'Proxima Nova Regular';
  font-weight: normal;
}
.proxima-thin {
  font-family: 'Proxima Nova Thin';
  font-weight: thin;
}
.small-excerpt {
  font-size: 13px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
}
.smaller-excerpt {
  font-size: 11px; 
}
.ft-style-inherit {
  font-style: inherit !important;
}

 /** titles **/
 h2 {
  font-size: 1.4rem;
  color: white;
  font-style: italic;
 }

/** Random **/
.hs-form-iframe {
  width: 100% !important;
}

.two-column {
  column-count: 2;
  column-gap: 0px;
  margin-left: 10px;
}

/** relative positioning **/
.bottom--1px {
  bottom: 1px;
}

  // target IE 11 
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    /* IE10+ specific styles go here */  
  }
  @media (min-width: 768px) {
    .offset-md-3 {
      margin-left: 21%;
    }
  }
  @media (max-width:992px) {
    .mb--4  {
      margin-bottom: 0;
    }
    .w-60 {
      width: 100% !important;
    }
  }
  
  @media (min-width:0px) and (max-width: 992px) {
    .w-40 {
      width: 100%;
    }
  }
