@media (max-width: 796px) {
 .ss-list {
  position: relative;
  left: -32px;
  width: 500px !important;
   li {
    display: inline;
    margin: 5px;
    
   }   
 }
 .fb {
  font-size: 1.5rem;
  position: relative;
  top: 6px;
 }
}