.mt--1 {
  margin-top:-1em;
}
.line-header {
  border-bottom: 1px solid #d1d1d1;
  text-align: center;
}
.line-header h3 {
  background: #fff;
  color: #1a1a1a;
  display: inline-block;
  font-size: 18px;
  letter-spacing: .15em;
  line-height: 26px;
  margin-bottom: 0;
  padding: 0 15px;
  position: relative;
  text-transform: uppercase;
  top: 13px;
  font-style: normal;
  font-weight: 400;
}
.attorney-card:hover {
  box-shadow: 3px 3px 10px #a9a9a9;
  cursor: pointer;
  text-decoration:underline;
}
.bg-light-gray {
  font-weight: 900;
  background-color: #e9e9e9;
  padding: 10px;
  text-shadow: 0 0 0 #000;
  margin-bottom: 30px;
}
h2 {
  font-size: 1.4rem;
  color: white;
  font-style: italic;
 }
@media (min-width: 1200px) {
  .max-width-container {
    max-width: 920px;
  }
}

@media (min-width: 0px) and (max-width: 400px) {
  .city-background {
    min-height: 700px;
  }
}
@media (min-width: 400px) and (max-width: 769px) {
  .city-background {
    min-height: 500px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .city-background {
    min-height: 400px;
  }
}