.just-in-container {
  //max-width: 1416px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
}
.JustInCarouselContent {
  margin: 1rem;
  padding: 0.4rem;
  background-color: white;
}
.JustInCarouselContent > a > .just-in-header {
  font-size: 0.7rem;
  color: white;
  background: linear-gradient(360deg, #901918 60%, #dd2624 100%);
  min-height: 38px;
  padding-left: 10px;
  padding-right: 10px;
}
.JustInCarouselContent > a > .just-in-header > .category {
  float: left;
  font-size: 0.8rem;
}
.JustInCarouselContent > a > .just-in-header > .category svg {
  margin-right: 4px;
  width: 15px;
}
.JustInCarouselContent > a > .just-in-header > .date {
  float: right;
  font-size: 0.8rem;
}
.JustInCarouselContent > a > .just-in-content {
  height: 227px;
}
.JustInCarouselContent > a > .just-in-content img {
  margin-top: 1rem;
}
.JustInCarouselContent > a > .tag {
  color: #901918;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
}
.JustInCarouselContent > a > .tag > svg {
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
  width: 25px;
}
.JustInCarouselContent > a > .just-in-content,
.tag {
  text-align: center;
}
.JustInCarouselContent > a > .just-in-content > h5 {
  font-size: 1rem;
  color: black;
  padding: 3px;
}
.just-in-toggles {
  font-size: 2rem;
}
