#subscription-form {
  .ml--3px {
    margin-left: -3px;
  }
  .mb--1 {
    margin-bottom: -1em;
  }
  .two-column {
    column-count: 2;
    column-gap: 0px;
    margin-left: 10px;
    li {
      margin-bottom: -1rem;
    }
  }
  .w-15 {
    width: 15%;
  }
}