.bg-light-gray {
  font-weight: 900;
  background-color: #e9e9e9;
  padding: 10px;
  text-shadow: 0 0 0 #000;
  margin-bottom: 30px;
}

.print-btn:hover {
  cursor: pointer;
}

.row {
  margin-bottom: 0;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 1000px;
  }
}

// Print CSS
@media print { 
  body > *, #hide-from-printer { display: none }
  #section-to-print { display: block }
}