.position-relative.award-link {
  text-decoration: underline;
  top:-2px;
}
.position-relative.award-link:hover {
  color: #db2220 !important;
  text-decoration: underline !important;
}
.slick-dots {
  position: initial;
  bottom: 0;
}
.featured-slider-arrow {
  color: black;
  position: absolute;
  top: 30%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  border: none;
}
.featured-slider-arrow:hover {
  cursor: pointer;
}
.featured-slider-arrow.left {
  left: -30px;
}
.featured-slider-arrow.right {
  left: 101%;
  z-index: 4;
}
.attorney-news-slider > .slick-slider > .slick-list {
  height: 217px!important;
}