@import "variables";

#firm-page {
  p {
    a {
      color: $standard-red;
    }
    &:hover {
      a {
        text-decoration: underline !important;
        cursor: pointer;
        color: $standard-red !important;
      }
    }
  }
  
  .tab-content {
    font-size: 1.125rem;
  }
  .rp-practice {
    margin-top: -6px;
  }
  .rp-practice li {
    margin-bottom:-11px;
  }

  .sidebar-content {
    margin-left: 10px;

    li {
      &:hover {
        a {
          text-decoration: underline !important;
        }
      }

      div {
        ul {
          margin-top: 8px;
          margin-left: 20px;
          font-size: 14px;

          li {
            margin-bottom: 12px;
            line-height: 1.1;
            margin-right: 11px;
          }
        }
      }
    }

  }
  .sidebar-content-page li  {
    height: 30px; 
  }

  .tab-pane {
    margin-bottom: 1.125rem;
    font-size: 1.05rem;
    line-height: 1.3;

    ul {
      line-height: 150%;

      li {
        margin-bottom: 1.125rem;
        font-size: 1rem;
        line-height: 1 !important;
      }
    }

  }


  .members-container {
    max-height: 400px;
    overflow:hidden;
    overflow-y: auto;
  }

  .chair-title {
    background-color: #e9e9e9;
    color: black
  }
  .c-title {
    margin-left: -14px;
    margin-top: 3px;
    margin-bottom: 0px;
  }



  @media (min-width: 1200px) {
    .max-width-container {
      max-width: 920px;
    }
  }
  @media (min-width: 0px) and (max-width: 400px) {
    .city-background {
      min-height: 700px;
    }
    .w-45 {
      width: 100% !important;
    }
    .attorney-card {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
  @media (min-width: 400px) and (max-width: 769px) {
    .city-background {
      min-height: 500px;
    }
    .w-45 {
      width: 100% !important;
    }
    .attorney-card {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
  @media (min-width: 769px) and (max-width: 992px) {
    .city-background {
      min-height: 400px;
    }
    .w-45 {
      width: 100% !important;
    }  
  }
}