@import "variables";

#single-attorney {
  h3 {
    strong {
      font-size: 1.3rem;
    } 
  }
  .underline-hover:hover {
    color: white !important;
    text-decoration: underline;
  }
  .position-relative.icon {
    top:-2px;
  }
  .lh-1 {
    line-height: 1;
  }
  .article-container {
    p {
      margin-bottom: 1.125rem;
      font-size: 1.05rem;
      line-height: 1.3;
    }
  }

  .tab-content {
    p, td {
      a {
        color: blue;
        text-decoration: underline;
      }
    }
  }

   // table stylings
  td:hover > a {
    cursor: pointer;
    color: $standard-red !important;
    text-decoration: underline !important;
  }

  // rep & client matters stylings  
  .main-tab {
    font-size: 1.1rem;
    line-height: 26px;
    text-align: center;
    border: 1px solid $standard-red;
    min-width: 250px;
    margin-right: 15px;
    margin-bottom: 10px;
    color: $standard-red !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    text-decoration: none;
    transition: All 1s ease;
    -webkit-transition: All 1s ease;
    -moz-transition:All 1s ease;
    border-radius: 5px;
    &:hover {
      background-color: $standard-red;
      color: white !important;
      border: 0px solid white;
    }
  }

  .matters {
    ul {
      li {
        margin-bottom: 1.125rem;
        font-size: 1rem;
        line-height: 1.4;
      }
    }
  }

  // biography styling
  .headline {
    strong {
      font-size: 1.3rem;
    }
  }
  .headline, .bio {
    margin-bottom: 1.125rem;
    font-size: 1.05rem;
    line-height: 1.5;
  }

  .sidebar-icon {
    float: right;
    margin-top: 5px;
  }
  .no-dots {
    li {
      line-height: 1;
      font-weight: 500;
    }
  }
  .link-style {
    &:hover {
      text-decoration: underline !important;
      cursor: pointer;
    }
  }

  .sidebar-content {
    line-height: 1.6;
    li {
      div {
        ul {
          margin-top: 8px;
          margin-left: 20px;
          font-size: 14px;
          li {
            margin-bottom: 12px;
            line-height: 1.1;
            margin-right: 11px;
          }
        }
      }
    }
  }

  /** featured slider stylings **/
  .featured-article-attorney-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  /** read more btn **/
  .read-more-btn {
    background-color: white !important;
    border: 0px solid white !important;
  }
}

#single-career, #page, #single {
  h3 {
    strong {
      font-size: 1.3rem;
    } 
  }
  .post-content {
    margin-bottom: 1.13rem;
    font-size: 1.1rem;
    line-height: 1.5;
  }
  .post-content, .author-bio {
    a {
      color: blue;
      text-decoration: underline;
    }
    a.btn-sm {
      color: white !important;
      text-decoration: none !important;
    }
  }
 
  .fb {
    font-size: 1.3rem !important;
    background-color: #3b5998 !important;
    min-width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &:hover {
     background-color: #2f4779;
     cursor: pointer;
   }
  }
  .lin {
    font-size: 1.3rem !important;
    background-color: #0082c9 !important;
    min-width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &:hover {
     background-color: #0075b4;
     cursor: pointer;
   }
  }
  .tw {
    font-size: 1.2rem !important;
    background-color: #29c5f6 !important;
    min-width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &:hover {
     background-color: #24b1dd;
     cursor: pointer;
   }
  }
  .bg-gray {
    font-size: 1.2rem;
    margin-top: 4px;
    background-color: #e9e9e9;
    &:hover {
     background-color: #a9a9a9;
     cursor: pointer;
   }
  }
  .btn-danger {
    &:hover {
     color: white !important;
     text-decoration: underline !important;
   }
  }
  .top-article {
    p {
      &:hover {
        text-decoration: underline !important;
      }
    }
  }
 
  .top-article h5, .related-attorneys h5 {
    font-size: 1.12rem;
  }
  .border-r-5 {
    border-radius: 5px;
  }
  .mh-375 {
    min-height: 375px;
  }
  .f-image img {
    max-width: 100% !important;
  }
  .m-attorneys {
    &:hover {
      color: black !important;
      text-decoration: underline !important;
    }
    img {
      width: 15%;
      border-radius: 7px;
      right: 9px;
    }
  }
  .li-fchild-mt-1:first-child {
    padding-top: 20px !important;
  }
}

#single {
  .sticky-inner-wrapper  {
    .react-share__ShareButton {
      margin-left: auto;
      margin-right: auto;
      display:block;
    }
  }
  .prnt-icon {
    background-color: #7f7f7f;
  }
  @media(max-width: 767px) {
    .sticky-outer-wrapper {
      .sticky-inner-wrapper  {
        display: flex; 
        position: relative !important;

        .ml-10px-mr-10px {
          margin-left: 10px;
          margin-right: 10px;
        }
        .react-share__ShareButton {
          margin-left: 10px;
    
          &:first-child {
            margin-top: 5px;
          }
        }
      }
    }
  }
}
#single-career {
  .dropzone-center { 
    border: 1.5px dashed #db2220;
    background-color: $off-white;
    height: 75px;
    border-radius: 4px;
  
  }
  .dropzone-center:hover {
    cursor: pointer;
  }
}

#single-admin {
  .bg-black-background {
    max-height: 300px;
  }
  
}
#single-attorney,#single-career, #single-admin, #single {
  // mobie queries
  @media (min-width: 767px) and (max-width: 992px) {
    .sidebar-title {
      height: 70px;
    }
  }
    
  @media (min-width: 0px) and (max-width: 500px) {
    .city-background {
      height: 800px;
    }
    .bg-black {
      min-height: 550px;
    }
  }
  @media (min-width: 500px) and (max-width: 769px) {
    .city-background {
      height: 870px;
    }
    .bg-black {
      min-height: 700px;
    }
  }
  @media (min-width: 1200px) {
    .max-width-container {
      max-width: 920px;
    }
    .bg-black-background {
      max-height: 300px;
    }
  }
  
  @media (min-width: 0px) and (max-width: 767px) {
    .white-transparent-border {
      width: 60%;
      display: block;
      margin-left:auto;
      margin-right:auto;
    }
    .line-header {
      text-align: left;
    }
    .line-header h3 {
      width: 100%;
      display:block;
    }
    .ss-list {
      margin-left: 0;
      li {
        display: inline;
        margin-right:5px;
      }
    }
  }
}

/** Print query **/
@media print {
  #single {
    .col-md-7 {
      width: 100%;
      overflow: initial;
      position: relative;
      overflow-y: visible; 
    }
  }
}