.city-background {
  background: linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),url(../citybackground.jpg) no-repeat 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 325px;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
}
.bg-black {
  background-color: rgba(0,0,0,.5);
  border-radius: 4px;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
}
#red-block {
  width: 10px;
  height: 45px;
  background-color: #bd2220;
  margin-right: 15px;
  display:block;
  float:left; 
}
#white-border {
  width: 100%;
  height: 1px;
  display: block;
  background-color: white;
  margin-top: -11px;
}
.mt--1 {
  margin-top:-1em;
}
.off-white {
  background-color: #fcfaff;
}
.ml-6 {
  margin-left: 4.3rem !important;
}
.u-hover:hover {
  text-decoration: underline;
}
h2 {
  font-size: 1.4rem;
  color: white;
  font-style: italic;
 }