
.main-tab {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding: 10px;
  border: 1.5px solid #bd2220;
  min-width: 300px;
  text-transform: uppercase;
  transition: All 1s ease;
  -webkit-transition: All 1s ease;
}
.main-tab a {
  transition:All 1s ease;
  -webkit-transition:All 1s ease;
  -moz-transition:All 1s ease
}
.main-tab a {
  color: #bd2220;
}
.main-tab:hover {
  background-color: #bd2220
}
.main-tab:hover a {  
  color: white !important;
  font-weight:bold;
  text-shadow: 1px 2px 5px black;
}
.matters ul li {
  margin-bottom: 1.125rem;
  font-size: 1rem;
  line-height: 1.2;
}