.react-multi-carousel-list {
  overflow: inherit;
  overflow-x: hidden !important;
}
.react-multiple-carousel__arrow:hover {
  background: rgba(255,255,255, 0) !important;
}
.react-multiple-carousel__arrow--right {
  right: -1.2% !important;
}
.react-multiple-carousel__arrow--left {
  left: -1.2% !important;
}
.react-multiple-carousel__arrow {
  background: rgba(255,255,255, 0) !important;
}
.react-multiple-carousel__arrow::before {
  color: black !important
}

// max: 464, min: 0

@media (max-width:499px) {
  .react-multiple-carousel__arrow--right {
    display: none !important;
  }
  .react-multiple-carousel__arrow--left {
    display: none !important;
  }
}