.carousel-slider-track {
  position: relative;
  z-index:1;
  width: 100%;
  margin-left: 1em;
}
.carousel-slider-track > li {
  display:inline-block;
  max-width: 365px;
}
.carousel-slide-arrow {
  max-width: 30px;
  z-index: 2;
  position:relative;
}

#carousel-slider {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.my-7 {
  margin-top: 5em;
  margin-bottom: 5em;
}
.site-arrows:hover {
  cursor: pointer;
}