.JustInCarouselContent  {
  margin: 1rem;
  padding:.4rem;
  background-color: white;
  width: 412px;
}
.JustInCarouselContent > a > .just-in-header {
  font-size:.7rem;
  color:white;
  background: linear-gradient(360deg, #901918 60%, #DD2624 100%);
  padding: 1rem;
  padding-bottom: 2rem;
}
.JustInCarouselContent > a > .just-in-header > .category {
  float:left;
  font-size: 1rem;
}
.JustInCarouselContent > a > .just-in-header > .category svg {
  margin-right: 4px;
  margin-bottom: -2px;
}
.JustInCarouselContent > a > .just-in-header > .date {
  float:right;
  font-size: .8rem;
}
.JustInCarouselContent > a > .just-in-content {
  height:227px;   
}
.JustInCarouselContent > a > .just-in-content img{
  margin-top: 1rem;
}
.JustInCarouselContent > a > .tag {
  color:#901918;
  font-weight:bold;
  text-transform:uppercase;
  font-size: 1rem;
}
.JustInCarouselContent > a > .tag > svg{
  margin-right: .5rem;
  margin-bottom: .2rem;
}
.JustInCarouselContent > a > .just-in-content, .tag {
  text-align:center;
}
.JustInCarouselContent > a > .just-in-content > h5 {
  font-size: .9rem;
  color: black;
}
.just-in-toggles {
font-size: 2rem;
}

