/** Banner Image **/
.banner {
  position: relative;
}

.banner:before {
  display: block;
  height: 148%;
  width: 50%;
  position: absolute;
  content: '';
  background-image: url(/images/photo-first-screen.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  bottom: -88px;
  right: 0;
  z-index: -1;
}

@media only screen and (max-width: 1100px) {
  .banner:before {
    height: 200%;
    bottom: 0;
    background-position: right bottom;
  }
}

.backPageBanner {
  background: url(/images/dark-blue-banner.webp) no-repeat center center;
}

.holidayBanner {
  background: url(/images/red-holiday-banner.webp) no-repeat center center;
}

/* /images/red-banner-opacity.png */
.redBanner {
  /*background-image: url(/images/red-banner-home.webp);*/
  /*background-position: right;*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  /*width: 100%;*/
  width: 1650px;
  margin: 0 auto;
  max-width: 96%;
}

.banner,
.backPageBanner,
.holidayBanner {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  /*border-top: 5px solid #000;*/
  /*border-bottom: 5px solid #000;*/
  margin-bottom: 1.5em;
  height: auto;
}

.banner {
  margin-bottom: 40px;
}

.bannerContainer {
  background-color: rgba(0, 0, 0, 0.556);
  /*box-shadow: 3px 5px 10px #000;*/
  border: 2px solid #000;
  border-radius: 2px;
}

@media (min-width: 1250px) {
  .redBanner {
    /*width: 80%;*/
    /*padding-right: 114px;*/
  }
}

@media (min-width: 1450px) {
  .redBanner {
    /*width: 70%;*/
  }
}

@media (min-width: 1650px) {
  .redBanner {
    /*width: 60%;*/
  }
}

@media (max-width: 768px) {
  .redBanner {
    /*background-position: 80%;*/
  }
}

.homeBannerContainer,
.bannerContainer {
  color: #fff;
  padding: 1em;
}

@media (min-width: 1200px) {
  .homeBannerContainer {
    /*margin-left: 4em;*/
  }
}

.homeBanner {
}

.tabBanner,
.noTabBanner {
  margin-top: 3.5em;
}

.tabBanner {
  margin-bottom: 5em;
}

.noTabBanner {
  margin-bottom: 3.5em;
}

/*
.multiBackBanner {
  margin-top: 2.5em;
}

@media (min-width: 768px) {
  .multiBackBanner {
    margin-bottom: 2em;
  }
} */
.text {
  font-family: 'Kenjo I';
  font-weight: 400;
  font-size: 150px;
  line-height: 151px;
  color: #000000;
}

.text:first-child {
  font-family: 'Gotham Pro';
  font-weight: 400;
  font-size: 45px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.63);
}

.quote {
  display: flex;
  width: 65%;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.5);
}

.quote:before {
  margin-right: 10px;
  display: block;
  content: url(/images/quote.webp);
}

@media (max-width: 1100px) {
  .banner {
    flex-direction: column;
  }
  .text {
    font-size: 100px;
  }
  .text:first-child {
    font-size: 36px;
    margin-bottom: 0;
  }
}
.rowProfileDetails {
  display: flex;
}
.ProfileDetails {
  width: 60%;
}
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
  }
  .quote {
    width: 80%;
    font-size: 16px;
  }
  .text {
    font-size: 60px;
    line-height: 1;
  }
  .text:first-child {
    font-size: 2.4em;
    margin-bottom: 20px;
  }
}
