/** Banner Image **/
.banner {
  position: relative;
  margin-bottom: 40px;
}

.banner:before {
  display: block;
  height: 148%;
  width: 50%;
  position: absolute;
  content: '';
  background-image: url(/images/photo-first-screen.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  bottom: -88px;
  right: 0;
  z-index: -1;
}

@media only screen and (max-width: 1100px) {
  .banner:before {
    height: 200%;
    bottom: 0;
    background-position: right bottom;
  }
}

.backPageBanner {
  background: url(/images/dark-blue-banner.webp) no-repeat center center;
}

.holidayBanner {
  background: url(/images/red-holiday-banner.webp) no-repeat center center;
}

.redBanner {
  width: 1650px;
  margin: 0 auto;
  max-width: 96%;
}

.banner,
.backPageBanner,
.holidayBanner {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  margin-bottom: 1.5em;
  height: auto;
}

.homeBannerContainer {
  color: #fff;
  padding: 1em;
}

.tabBanner,
.noTabBanner {
  margin-top: 3.5em;
}

.tabBanner {
  margin-bottom: 5em;
}

.noTabBanner {
  margin-bottom: 3.5em;
}

.text {
  font-family: 'Kenjo I';
  font-weight: 400;
  font-size: 150px;
  line-height: 151px;
  color: #000000;
}

.text:first-child {
  font-family: 'Gotham Pro';
  font-weight: 400;
  font-size: 45px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.63);
}

.quote {
  display: flex;
  width: 65%;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.5);
}

.quote:before {
  margin-right: 10px;
  display: block;
  content: url(/images/quote.webp);
}

@media (max-width: 1100px) {
  .banner {
    flex-direction: column;
  }
  .text {
    font-size: 100px;
  }
  .text:first-child {
    font-size: 36px;
    margin-bottom: 0;
  }
}
.rowProfileDetails {
  display: flex;
}
.ProfileDetails {
  width: 60%;
}
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
  }
  .quote {
    width: 80%;
    font-size: 16px;
  }
  .text {
    font-size: 60px;
    line-height: 1;
  }
  .text:first-child {
    font-size: 2.4em;
    margin-bottom: 20px;
  }
}
