/** Fonts **/
@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('/fonts/proxima-nova-regular.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('/fonts/proxima-nova-bold.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Italic';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/proxima-nova-italic.ttf');
  font-display: swap;
}

/*** Base stylings **/
body {
  font-family: 'Proxima Nova Regular' !important;
  font-weight: 500;
}

a {
  color: #3344dd;
}

a:hover {
  color: inherit;
}

strong {
  font-family: 'Proxima Nova Bold';
}

em {
  font-family: 'Proxima Nova Italic';
}

/** Button Styling **/
.btn-danger {
  font-weight: bold;
  background: linear-gradient(360deg, #901918 60%, #dd2624 100%), #333333;
}

.off-white {
  background-color: #fcfaff;
}

/** Dropdown Menu **/
.dropdown-menu {
  padding: 10px !important;
  margin: 0;
  font-size: 13px;
  letter-spacing: 1px;
  color: #212121;
  background-color: #fcfaff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  transition: all 200ms linear;
}

/** Global Search Styling **/
.ais-Hits-item {
  list-style-type: none;
}

.ais-Hits-list {
  margin-left: -30px;
}

.search-container {
  max-height: 800px;
  margin-top: 10px;
  background-color: #fcfaff;
  overflow: hidden;
  z-index: 99;
}

.search-container .ais-Hits-list {
  max-height: 600px;
  overflow-y: scroll;
}

.ais-Pagination-item {
  display: inline-block;
}

.ais-Hits {
  margin-top: -1em;
}
@media (max-width: 768px) {
  .search-container {
    max-width: 95%;
  }
}

@media (min-width: 768px) {
  .search-container {
    min-width: 640px;
  }
}

.ais-Pagination-list {
  list-style-type: none;
  margin-left: -2em;
  margin-top: 11px;
  display: flex;
  justify-content: space-between;
}

.ais-Pagination-item {
  margin-right: 10px;
  font-size: 16px;
}

.ais-Pagination-link {
  color: #000;
}

.ais-SearchBox-form {
  display: inline-flex;
  flex-direction: row-reverse;
  border-radius: 5px;
}

.ais-SearchBox-input {
  border: 0;
}

.ais-SearchBox-submit {
  border: 0px;
  background-color: #fff;
  border-right: 1px solid #a9a9a9;
}

.ais-SearchBox-reset {
  display: none;
}

.scroll-search {
  height: 28px;
  padding-left: 8px;
  left: -1em;
}

.top--1 {
  top: -1px;
}
/** Hide captcha in print **/
@media print {
  .grecaptcha-badge {
    display: none !important;
  }
}

/** Awards for attorney bios**/

.award-recognition {
  margin-bottom: 3rem;
  margin-top: 2rem;
  margin-right: 1rem;
}
.award-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #dee2e6;
}
.award-container {
  display: flex;
  flex-direction: row;
}

/** Handle center button styles from wordpress **/
.aligncenter > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.aligncenter > figcaption {
  text-align: center;
  margin-top: 8px;
  font-size: 14px;
}

.alignleft {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  float: left;
  margin-right: 24px;
}

.alignright {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-direction: column;
  float: right;
  margin-left: 24px;
}
