.wrapper {
  width: 1650px;
  margin: 0 auto;
  max-width: 96%;
}

.header .wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 40px;
}
.middle {
  display: flex;
  flex-flow: column;
  width: 725px;
  max-width: 725px;
}
