.jumbotron {
  padding-top: 2em !important;
}
#red-block {
  width: 10px;
  height: 38px;
  background-color: #bd2220;
  margin-right: 15px;
  display:block;
  float:left; 
 }
 h2 {
  font-size: 1.4rem;
  color: white;
  font-style: italic;
 }